<div>
{{#if isLoading}}
  <div class="row">
    <div class="small-3 small-centered column">
      {{partial "loading"}}
    </div>
  </div>
{{else}}
<div>
{{rendered-template renderResult}}
</div>
{{/if}}
</div>